<div class="row jumbotron espacio">
  <div class="col-md-5">
    <h3>Curso Ruby on Rails</h3>
    <p>santiago ponce</p>
    <p></p>
    <%=button_to "Entrar",formulario_path, method: :post, :class => "btn btn-large btn-primary"%>
  </div>
  <div class="col-md-6">
    <%= image_tag "picture.png"%>
  </div>
</div>