<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
  <title><%=@titulo%></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- contenedor -->
	<div class="container">
		<!-- cabecera -->
		<div class="row">
			<div class="span4">preimero</div>
			<div class="span4">segundo</div>
			<div class="span4">tercero</div>
		</div>
		<!-- fin cabecera -->
	</div>
	<!-- fin contenedor -->
</body>
</html>
